*pull-secret.json

*/.terraform
*/terraform.tfstate
*/terraform.tfstate.backup
*terraform.tfstate
*terraform.tfstate.backup

*/.env

*/__pycache__/*
*/terraform.out
*/.terraform.lock.hcl

terraform-ubuntu-cloudinit/.terraform.lock.hcl
terraform-ubuntu-cloudinit/terraform.tfstate
terraform-ubuntu-cloudinit/terraform.tfstate.backup

terraform-cloudinit/.terraform.lock.hcl
terraform-cloudinit/terraform.tfstate
terraform-cloudinit/terraform.tfstate.backup

terraform-ocp-proxmox-9/.terraform.lock.hcl
terraform-ocp-proxmox-9/terraform.tfstate
terraform-ocp-proxmox-9/terraform.tfstate.backup

